.side_bar {
  height: 100vh;
  flex: 0.2;
  background-color: #040404;
  color: white;
  height: 100vh;
  min-width: 230px;
  padding: 0px 10px;
}

.sidebar_logo {
  object-fit: contain;
  height: 70px;
  width: 100%;
}
